<table class="table">
    <tbody>
        <tr>
            <td>Bike type</td>
            <td>{{ product.bike_type }}</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>{{ product.brand }}</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>{{ product.size }}</td>
        </tr>
        <tr>
            <td>Frame</td>
            <td>{{ product.frame }}</td>
        </tr>
        <tr>
            <td>Wheels</td>
            <td>{{ product.wheels }}</td>
        </tr>
        <tr>
            <td>Speeds</td>
            <td>{{ product.speeds }}</td>
        </tr>
        <tr>
            <td>Brakes</td>
            <td>{{ product.brakes }}</td>
        </tr>
        <tr>
            <td>Warranty</td>
            <td>{{ product.warranty }}</td>
        </tr>
    </tbody>
</table>