{% extends 'base.html' %}

{% block content %}

<h3 class="text-center mt-5 mb-5">Your cart {% if not cart.products.count %}is empty{% endif %}</h3>
{% if cart.products.count %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Picture</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Final price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.products.all %}
        <tr>
            <th scope="row">{{ item.content_object.title }}</th> 
            <td class="w-25"><img src="{{ item.content_object.image.url }}" alt="" class="img-fluid"></td>
            <td>{{ item.content_object.price }} $</td>
            <td><form action="{% url 'change_qty' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}" method="post">
                {% csrf_token %}
                <input type="number" class=".form-control-sm" name="qty" min="1" style="width: 70px;" value="{{ item.qty }}">
                <br>
                <input type="submit" class="btn btn-primary" value="Change quantity">
            </form></td>
            <td class="w-25">{{ item.final_price }} $</td>
            <td><a href="{% url 'delete_from_cart' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}"><button class="btn btn-danger">Remove from cart</button></a></td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td>Total</td>
            <td>{{ cart.total_products }}</td>
            <td><strong>{{ cart.final_price }} $</strong></td>
            <td><a href="{% url 'checkout' %}"><button class="btn btn-primary">Order</button></a></td>
        </tr>
    </tbody>
</table>
{% endif %}

{% endblock content %}